@layer reset, base, tokens, recipes, utilities;

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    background-color: var(--colors-background);
    color: var(--colors-text-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
